<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <title>Your App</title>
</head>
<body>
<div id="root"></div>
<!-- <script type="text/JavaScript" src="./js/ncz.js" crossorigin="anonymous" charset="utf-8"></script> -->
<script type="text/JavaScript" src="https://gw.alipayobjects.com/os/lib/alipay/ccm-rtcim-sdk/1.0.62/dist/ccm-rtcim-sdk.min.js" crossorigin="anonymous" charset="utf-8"></script>
<!-- file引用 -->

<script src="<%= context.config.publicPath %>lib/mcu.js"></script>
<script src="<%= context.config.publicPath %>lib/meeting_desk_stream.js"></script>
<script src="<%= context.config.publicPath %>lib/meeting_invite.js"></script>
<script src="<%= context.config.publicPath %>lib/meeting_camera_stream.js"></script>
<script src="<%= context.config.publicPath %>lib/meeting_api.js"></script>
<script src="<%= context.config.publicPath %>lib/meeting_im.js"></script>
<script src="<%= context.config.publicPath %>lib/remote_record.js"></script>
<script>
    var vConsole=new VConsole();
  </script>
</body>
</html>
